.hero-section {
    background-image: url(../../images/hero-bg.png);
    background-position: center 15%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}

.logo {
    position: absolute;
    background-color: #dd2a6d;
    max-width: 230px;
    height: 100px;
}

.logo-img {
    height: 70px;
}

.logo p {
    font-size: 14px;
    color: white;
    margin-top: -10px;
}